
simpleViewer/.qmake.stash
simpleViewer/debug/main.obj
simpleViewer/debug/mainwindow.obj
simpleViewer/debug/moc_mainwindow.cpp
simpleViewer/debug/moc_mainwindow.obj
simpleViewer/debug/moc_predefs.h
simpleViewer/debug/moc_predefs.h.cbt
simpleViewer/debug/qmake/qtvars_x64_Debug.props
simpleViewer/debug/qmake/temp/.qmake.stash
simpleViewer/debug/qmake/temp/4FE500E0-55CD-3BC5-B492-3B7C4E2D77D9.simpleViewer.designtime.idx
simpleViewer/debug/qmake/temp/moc_predefs.h.cbt
simpleViewer/debug/qmake/temp/props.txt
simpleViewer/debug/qmake/temp/qtvars.log
simpleViewer/debug/qmake/temp/qtvars.pro
simpleViewer/debug/qmake/temp/qtvars.vcxproj
simpleViewer/debug/qmake/temp/qtvars.vcxproj.filters
simpleViewer/debug/qmake/temp/qtvars_x64_Debug.props
simpleViewer/debug/qt.natvis
simpleViewer/debug/qt_work.log
simpleViewer/debug/simpleViewer.exe
simpleViewer/debug/simpleViewer.exe.recipe
simpleViewer/debug/simpleViewer.ilk
simpleViewer/debug/simpleViewer.log
simpleViewer/debug/simpleViewer.pdb
simpleViewer/debug/simpleViewer.tlog/CL.command.1.tlog
simpleViewer/debug/simpleViewer.tlog/CL.read.1.tlog
simpleViewer/debug/simpleViewer.tlog/CL.write.1.tlog
simpleViewer/debug/simpleViewer.tlog/CustomBuild.command.1.tlog
simpleViewer/debug/simpleViewer.tlog/CustomBuild.read.1.tlog
simpleViewer/debug/simpleViewer.tlog/CustomBuild.write.1.tlog
simpleViewer/debug/simpleViewer.tlog/link.command.1.tlog
simpleViewer/debug/simpleViewer.tlog/link.read.1.tlog
simpleViewer/debug/simpleViewer.tlog/link.write.1.tlog
simpleViewer/debug/simpleViewer.tlog/moc.read.1u.tlog
simpleViewer/debug/simpleViewer.tlog/moc.write.1u.tlog
simpleViewer/debug/simpleViewer.tlog/simpleViewer.lastbuildstate
simpleViewer/debug/simpleViewer.tlog/simpleViewer.write.1u.tlog
simpleViewer/debug/simpleViewer.tlog/uic.read.1u.tlog
simpleViewer/debug/simpleViewer.tlog/uic.write.1u.tlog
simpleViewer/debug/simpleViewer.vcxproj.FileListAbsolute.txt
simpleViewer/debug/vc142.pdb
simpleViewer/release/main.obj
simpleViewer/release/mainwindow.obj
simpleViewer/release/moc_mainwindow.cpp
simpleViewer/release/moc_mainwindow.obj
simpleViewer/release/moc_predefs.h
simpleViewer/release/moc_predefs.h.cbt
simpleViewer/release/qmake/qtvars_x64_Release.props
simpleViewer/release/qmake/temp/.qmake.stash
simpleViewer/release/qmake/temp/4FE500E0-55CD-3BC5-B492-3B7C4E2D77D9.simpleViewer.designtime.idx
simpleViewer/release/qmake/temp/moc_predefs.h.cbt
simpleViewer/release/qmake/temp/props.txt
simpleViewer/release/qmake/temp/qtvars.log
simpleViewer/release/qmake/temp/qtvars.pro
simpleViewer/release/qmake/temp/qtvars.vcxproj
simpleViewer/release/qmake/temp/qtvars.vcxproj.filters
simpleViewer/release/qmake/temp/qtvars_x64_Release.props
simpleViewer/release/qt_work.log
simpleViewer/release/simpleViewer.exe
simpleViewer/release/simpleViewer.exe.recipe
simpleViewer/release/simpleViewer.log
simpleViewer/release/simpleViewer.tlog/CL.command.1.tlog
simpleViewer/release/simpleViewer.tlog/CL.read.1.tlog
simpleViewer/release/simpleViewer.tlog/CL.write.1.tlog
simpleViewer/release/simpleViewer.tlog/CustomBuild.command.1.tlog
simpleViewer/release/simpleViewer.tlog/CustomBuild.read.1.tlog
simpleViewer/release/simpleViewer.tlog/CustomBuild.write.1.tlog
simpleViewer/release/simpleViewer.tlog/link.command.1.tlog
simpleViewer/release/simpleViewer.tlog/link.read.1.tlog
simpleViewer/release/simpleViewer.tlog/link.write.1.tlog
simpleViewer/release/simpleViewer.tlog/moc.read.1u.tlog
simpleViewer/release/simpleViewer.tlog/moc.write.1u.tlog
simpleViewer/release/simpleViewer.tlog/simpleViewer.lastbuildstate
simpleViewer/release/simpleViewer.tlog/simpleViewer.write.1u.tlog
simpleViewer/release/simpleViewer.vcxproj.FileListAbsolute.txt
simpleViewer/simpleViewer.vcxproj
simpleViewer/simpleViewer.vcxproj.filters
simpleViewer/simpleViewer.vcxproj.user
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/.suo
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/Browse.VC.db
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/Browse.VC.db-shm
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/Browse.VC.db-wal
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/Browse.VC.opendb
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/ipch/AutoPCH/4b98613ef32fbc74/MAINWINDOW.ipch
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/ipch/AutoPCH/a35a2613d147044c/MAIN.ipch
simpleViewer/SimpleViewer/SimpleViewer.sln
simpleViewer/SimpleViewer/.vs/SimpleViewer/v16/ipch/AutoPCH/6aeca3b969bd64d6/MAINWINDOW.ipch
*.ipch
*.log
